body {
    margin: 20px 50px auto;
    height: 750px; width: 1200px;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 10px 60px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #ddd;
}